* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-size: 0.83vw;
}
img {
    max-width: 100%;
}

/*HEADER*/

.header4 {
    height: 41.3125rem;
    width: 120rem;
    background-image: url("images/Group1.png");
    background-size: cover;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns:13.75rem 1fr 52.75rem;
    grid-template-rows: 9.375rem repeat(3, 1fr);
}

.imagefood {
    grid-area: 2/3/5/4;
    justify-content: center;
    align-items: end;
    margin-right: 12.875rem;
    width: 48.4375rem;
    height: 32rem;
}

.banner  {
    grid-area: 2/2/3/3;
    color: white;
    text-align: start;
    font-size: 5.5rem;
    height: 5.5rem;
    font-family: "Source Sans 3" ;
    font-weight: 700;
}

.banner1 {
    grid-area: 2/2/3/3;
   font-size: 1.375rem;
   height: 1.625rem;
   text-align: start;
   align-self: end;
   font-family: "Source Sans 3" ;
}

.delivery {
    display: grid;
    grid-area: 3/2/4/3;
    justify-content: center;
    grid-template-columns: 1fr ;
    grid-template-rows: 1fr 1fr;
    background-color: white;
    
}
.del1 {
    background-color: rgba(241, 114, 40, 0.10);
    border: none;
    font-family: "Source Sans 3" ;
    font-weight: 700;
    color: #F17228;
    width: 9.25rem;
    height: 1.75rem;
    font-size: 1.125rem;
}
.pick {
    border: none;
    font-size: 1.125rem;
    font-family: "Source Sans 3" ;
    width: 8.0625rem;
    height: 2.375rem;
    color: #757575;
    font-weight: 700;
    background-color: white;

}
